config ladder-agent 'main'
	option enabled '0'
	option panel_url ''
	option node_id ''
	option token ''
	option enroll_token ''
	option listen '0.0.0.0:50051'
	option data_dir '/var/lib/ladder-agent'
	option uplink '1'
	option uplink_serve_grpc '0'
	option uplink_ws '1'
	option report_address ''
	option tls_sans ''
	option log_stderr '1'
